<div class="card main">
    <div class="center game-category">
        <h2>{{category.name}}</h2>
        <span>Dificultad: {{category.difficulty}}</span>
    </div>
    <div class="center">
        @for(char of gameService.wordEncrypt(); track char) {
            <span>&nbsp;</span>
            <span>{{char}}</span>
            <span>&nbsp;</span>
        }
    </div>
    <div class="center">
        <img [src]="gameService.dibujoUrl()" alt="Dibujo Ahorcado">
    </div>
    <div class="center">
        <p>{{message()}}</p>
    </div>
    <div class="center">
        <input
        class="input"
        #input
        [disabled]="gameService.gameOver()"
        (keyup)="readKey($event, input)"
        >
    </div>
    <div class="center">
        @if (gameService.gameOver()) {
            <button routerLink="/results/" (click)="gameService.saveGame()">
                @if (gameService.isFill()) { Felicidades } @else { Perdiste }
            </button>
        }
    </div>
</div>